# Git
.git
.gitignore

# IDE
.idea/
.vscode/

.DS_Store

# build
build/
out/
target/
.gradle/
*.jar
*.war

# frontend Dependency
src/main/frontend/node_modules/
src/main/frontend/build/

# log file
*.log

# envritionment
.env
.env.*

# test / coverage
test/
coverage/