.mypage {
    display: flex;
}

.mypage-content, .non-member-order-content {
    margin-top: 5%;
    width: 35%;
}

.mypage-content {
    margin-left: 35%;
}

.mypage-order-term-select {
    float: right;
}

.mypage-order-list-content {
    margin-top: 15%;
}

.mypage-order-data {
    border: 1px solid lightgrey;
}

.mypage-order-data-header {
    margin-top: 10px;
    font-size: larger;
    font-weight: bold;
    padding-left: 3%;
}

.mypage-order-data-content img {
    width: 150px;
}

.mypage-order-data-content {
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
}

.order-data-info-btn {
    display: inline-grid;
    padding-left: 35px;
    padding-top: 4%;
    align-content: center;
}

.order-data-info-btn button {
    width: 100px;
    height: 30px;
}

.mypage-order-list-content button {
    border: 1px solid lightgrey;
    background: white;
}

.order-data-info {
    display: inline-grid;
    padding-top: 40px;
}

.mypage-order-data {
    margin-top: 10%;
}

.mypage-order-content {
    border: 1px solid lightgrey;
    margin-top: 20px;
}

.mypage-order-data-detail {
    border: 1px solid lightgrey;
    padding-bottom: 15px;
}

.mypage-order-list-content-header span {
    font-size: larger;
    font-weight: bold;
}

.mypage-order-content button {
    float: right;
    width: 100px;
    height: 30px;
}

.mypage-order-list-content-header {
    height: 45px;
    align-content: center;
    padding: 0 5px 0 5px;
}

.order-data-totalprice {
    float: right;
}

.order-data-info-content {
    font-size: large;
    font-weight: 500;
    height: 30px;
    align-content: center;
    padding: 0 5px 0 5px;
}

.non-member-order {
    display: ruby-text;
}

.order-info-input {
    display: ruby-text;
}

.order-info-content-input {
    margin-top: 15%;
}

.order-info-content-input label {
    margin-right: 10px;
    font-size: large;
}

.order-info-content-input input {
    height: 20px;
    padding-left: 5px;
}

.order-info-content-input div {
    margin-top: 15px;
}

.order-info-btn {
    margin-top: 30px;
    text-align: center;
}

.order-info-btn button {
    background: white;
    border: 1px solid lightgrey;
    width: 200px;
    height: 35px;
}

.non-order-data-header {
    margin-top: 30px;
}

.mypage-like-detail {
    border: 1px solid lightgrey;
    margin-top: 30px;
    width: 70%;
}

.mypage-like-thumbnail {
    width: 150px;
    padding: 10px;
}

.mypage-like-delete-btn {
    float: right;
    width: 30px;
    cursor: pointer;
}

.like-data-product-price {
    margin-left: 10px;
}

.mypage-like-thumb {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.mypage-order-data-header a, .mypage-like-thumb a {
    text-decoration: none;
    color: black;
}

.mypage-like-info {
    display: grid;
}

.mypage-like-info span {
    margin: 10px;
}